.tracks {
	display: grid;

	.track {
		display: grid;

		.bracket {
			.player {
				&.shift-left {
					left: -5%;
				}

				&.shift-right {
					left: 35%;
				}

				&.shift-top {
					top: -5%;
				}

				&.shift-bottom {
					top: 40%;
				}

				&.glow {
					z-index: 10;
				}
			}
		}
	}

	&.tracks-vertical {
		grid-template-columns: repeat(3, 1fr);
		border-top: 1px solid white;

		.track {
			height: 100%;
			grid-template-rows: repeat(5, 1fr);

			.bracket {
				width: 100%;
			}
		}
	}

	&.tracks-horizontal {
		grid-template-rows: repeat(3, 1fr);
		border-left: 1px solid white;

		.track {
			width: 100%;
			grid-template-columns: repeat(5, 1fr);

			.bracket {
				height: 100%;
			}
		}
	}
}
