//colors
$primary-blue: #007bff;
$dark-blue: #262632;
$color-red: #f23b3b;
$color-green: #328b32;
$color-blue: #7171bb;
$color-orange: #34ea26;
$color-background: #3c2d2d;

//fonts
$font-stack-primary: "Open Sans", sans-serif;
$font-stack-secondary: "Roboto", sans-serif;
