.dice {
	background-color: white;
	height: 4.2rem;
	width: 4.2rem;
	border-radius: 5px;
	position: absolute;
	cursor: pointer;
	color: white;

	.point {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;

		&-middle {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.face {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		font-size: 1.3rem;
		display: grid;
		justify-content: center;
		align-items: center;
		//color: white;
	}

	#face1 {
		z-index: -1;
	}

	#face2 {
		z-index: -1;
	}

	#face3 {
		z-index: -1;
		grid-template-columns: repeat(3, 1fr);
	}

	#face4 {
		z-index: -1;
		grid-template-columns: repeat(2, 1fr);
	}

	#face5 {
		z-index: -1;
		grid-template-columns: repeat(2, 1fr);
	}

	#face6 {
		z-index: -1;
		grid-template-columns: repeat(3, 1fr);
	}

	#face1,
	#face2,
	#face3,
	#face4,
	#face5,
	#face6 {
		&.turn {
			z-index: 1;
		}

		&.hide {
			z-index: -1;
		}
	}

	@media screen and (max-width: 700px) {
		height: 4.4rem;
		width: 4.4rem;
	}

	@media screen and (max-width: 600px) {
		height: 4.75rem;
		width: 4.75rem;
	}

	@media screen and (max-width: 500px) {
		height: 4.95rem;
		width: 4.95rem;
	}

	@media screen and (max-width: 400px) {
		height: 5.2rem;
		width: 5.2rem;
	}
}
