.gameover-modal {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;

	&-body {
		background-color: white;
		padding: 2rem;
		border-radius: 9px;
		box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.5);

		h1 {
			font-size: 3rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
			text-align: center;
		}

		.message {
			font-size: 2.5rem;
			margin-bottom: 3rem;

			p {
				line-height: 0.9;

				span {
					font-weight: 700;
					text-transform: capitalize;

					&.red {
						color: $color-red;
					}

					&.green {
						color: $color-green;
					}

					&.orange {
						color: $color-orange;
					}

					&.blue {
						color: $color-blue;
					}
				}
			}
		}

		button {
			border: none;
			outline: none;
			color: white;
			padding: 0.2rem 1.1rem;
			border-radius: 5px;
			text-transform: uppercase;
			background-color: $color-background;

			&.reset-button {
				background-color: red;

				&:hover {
					background-color: darken(red, 10%);
				}
			}

			&.keep-playing-button {
				&:hover {
					background-color: lighten($color-background, 10%);
				}
			}
		}
	}

	&.show {
		display: flex;
	}
}
