.player {
	height: 3.2rem;
	width: 3.2rem;
	border-radius: 50%;
	position: relative;

	&.red-player {
		background-color: $color-red;
	}

	&.green-player {
		background-color: $color-green;
	}

	&.blue-player {
		background-color: $color-blue;
	}

	&.orange-player {
		background-color: $color-orange;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1.5rem;
		height: 1.5rem;
		background-color: transparent;
		border-radius: 50%;
		border: 3px solid white;
	}

	&.glow {
		animation: glowingAnimation 700ms ease-in-out infinite;
		cursor: pointer;
		z-index: 5;
	}

	&.home {
		animation: homeAnimation 300ms ease-in 5;
	}

	&.hide {
		display: none;
	}

	&.cut {
		animation: playerCutAnimation 300ms ease-in 5;
	}
}
