.tracks {
	display: grid;

	.track {
		display: grid;

		.bracket {
			border-bottom: 1px solid white;
			border-right: 1px solid white;
			color: white;
			display: grid;
			place-content: center;

			&.safe-bracket {
				font-size: 2.1rem;
				font-weight: 700;
				text-transform: uppercase;
				position: relative;

				.player {
					border: 2px solid white;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 5;
				}
			}

			&.red-bracket {
				background-color: $color-red;
			}

			&.green-bracket {
				background-color: $color-green;
			}

			&.blue-bracket {
				background-color: $color-blue;
			}

			&.orange-bracket {
				background-color: $color-orange;
			}
		}
	}

	&.tracks-vertical {
		grid-template-columns: repeat(3, 1fr);
		border-top: 1px solid white;

		.track {
			height: 100%;
			grid-template-rows: repeat(5, 1fr);

			.bracket {
				width: 100%;
			}
		}
	}

	&.tracks-horizontal {
		grid-template-rows: repeat(3, 1fr);
		border-left: 1px solid white;

		.track {
			width: 100%;
			grid-template-columns: repeat(5, 1fr);

			.bracket {
				height: 100%;
			}
		}
	}
}
